@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
}

.add-btn {
  transition: background-color 0.3s ease;
}

.add-btn:hover {
  border: #000000 2px solid;
}

textarea {
  background-color: transparent;
  border: none;
  height: 100%;
  min-height: 7rem;
  font-size: 1.25rem;
  width: 100%;
}

textarea:focus {
  outline: none;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
}

input:focus {
  outline: none;
}
